#play-grid {
    background-color: white;
    box-shadow: 0px 1px 17px rgba(0.0, 0.0, 0.0, 0.1), 
                0px 0px 0px rgba(0.0, 0.0, 0.0, 0.1);
}

.toolbar {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
}

.box {
    flex: 1;
    display: flex;
}

.box:first-child { 
    justify-content: flex-start;
}

.box:nth-child(2) {
    justify-content: center;
}

.box:last-child { 
    justify-content: flex-end;
}



.my-toolbar-btn {
    font-size: 30px;

    margin-left: 5px;
    margin-right: 5px;

    color: #616161;
}

.my-media-btn:hover {
    color: #2f3e46;
}

#exit-btn:hover {
    color: #f41f1f;
}

#eraser-btn:hover {
    color: #f28910;
}

#grid-btn:hover {
    color: #dadada5b;
}

.game-btn {
    margin-top: 20px;
}

.score {
    font-size: 80px;
}