<div class="toolbar" #toolbar [ngStyle]="{'visibility': _hasGameArrived ? 'initial' : 'hidden'}">
  <span class="oi oi-media-play" (click)="startSimulation()" style="cursor:pointer;" *ngIf="!_isPlaying"></span>
  <span class="oi oi-media-pause" (click)="stopSimulation()" style="cursor:pointer;" *ngIf="_isPlaying"></span>
  <span class="oi oi-media-skip-forward" (click)="skipSimulationForward()" style="cursor:pointer;"></span>
  <span class="oi oi-media-skip-backward" (click)="skipSimulationBack()" style="cursor:pointer;"></span>
  <span class="oi oi-media-step-forward" (click)="stepSimulationForward()" style="cursor:pointer;"></span>
  <span class="oi oi-media-step-backward" (click)="stepSimulationBack()" style="cursor:pointer;"></span>
</div>


<canvas id='play-grid' #playGrid (window:resize)="onResize($event)"></canvas>

<button id='send-to-server-btn' 
        class="btn btn-outline-dark game-btn" 
        (click)="sendConfig()" 
        *ngIf="_hasResources && !_hasGameArrived" 
        [disabled]="_hasSent">Send to Server</button>

<button id='reset-match-btn' 
        class="btn btn-outline-dark game-btn" 
        (click)="resetMatch()" 
        *ngIf="_hasResources && _hasGameArrived">Reset Match</button>

<div id='score-board' *ngIf="_hasResources">
  <span class='score' *ngFor="let player of _playerResources;" [ngStyle]="{'color': player.color }">
    {{ player.wins }}
  </span>
</div>
