#play-grid {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: white;
}

.toolbar {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.oi {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.game-btn {
    margin-top: 20px;
}

.score {
    font-size: 100px;
}