<div id="error-menu" class="card col-9 col-sm-6 col-md-8 col-lg-7 col-xl-5 p-3 my-menu-container">

    <div class="card-body">
  
        <p class="h2 text-center py-2 my-menu-title" style="color: red">Error!</p>

        <p id="error-msg" class="h5">
          {{errorMessage}}
        </p>

        <button type="button" 
                id="my-error-btn" 
                class="btn btn-outline-dark" 
                [routerLink]="['/menu/main']">
                Go To Main Menu
        </button>
  
    </div>
  
</div>