<div id="main-menu" class="card col-9 col-sm-6 col-md-3 col-lg-3 col-xl-2 p-3 my-menu-container">

    <div class="card-body">
  
        <form>

            <p class="h2 text-center py-4 my-menu-title">Main Menu</p>

            <div class="my-centered-row">
                <button type="button" 
                        class="btn btn-outline-dark mainmenu-btn" 
                        [routerLink]="['/menu/multiplayer/create']">
                        Multi Player
                </button>
            </div>

            <div class="my-centered-row">
                <button type="button" 
                        class="btn btn-outline-dark mainmenu-btn" 
                        [routerLink]="['/menu/help']">
                        Help
                </button>
            </div>

            <div class="my-centered-row">
                <button type="button" 
                        class="btn btn-outline-dark mainmenu-btn"
                        [routerLink]="['/menu/about']">
                        About
                </button>
            </div>

        </form>
  
    </div>
  
</div>