<div class="card col-9 col-sm-6 col-md-3 col-lg-3 col-xl-2 p-3 my-form-container">

    <div class="card-body">
  
        <form>

            <p class="h2 text-center py-4 my-form-title">Main Menu</p>
            
            <div class="row-centered">
                <button type="button" class="btn btn-outline-dark mainmenu-btn">Single Player</button>
            </div>

            <div class="row row-centered">
                <button [routerLink]="['/menu/main']" type="button" class="btn btn-outline-dark mainmenu-btn">Multi Player</button>
            </div>

            <div class="row row-centered">
                <button type="button" class="btn btn-outline-dark mainmenu-btn">Help</button>
            </div>

            <div class="row row-centered h-10">
                <button type="button" class="btn btn-outline-dark mainmenu-btn">About</button>
            </div>

        </form>
  
    </div>
  
  </div>