.all-screen {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

}

.all-screen:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://media.giphy.com/media/QmIBn7zrIE4Xs1pdsS/giphy.gif"); 
    /*background-size: cover;*/
    width: 100%;
    height: 100%;
    opacity : 0.8;
    z-index: -1;
}