.my-media-btn:hover {
    color: #2f3e46;
}

.game-btn {
    margin-top: 15px;
}

.who-sent-dots {
    width: 15px;
    height: 15px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 50%;
}

.score {
    font-size: 80px;
}

#play-grid {
    background-color: white;
    box-shadow: 0px 1px 17px rgba(0.0, 0.0, 0.0, 0.1), 
                0px 0px 0px rgba(0.0, 0.0, 0.0, 0.1);
}

#who-sent-display {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 15px;
}

#exit-btn:hover {
    color: #f41f1f;
}

#eraser-btn:hover {
    color: #f28910;
}

#grid-btn:hover {
    color: #dadada5b;
}