<div *ngIf="_isMatchKeyValid">
	<div class="toolbar" #toolbar>

		<div class="toolbar-box" *ngIf="_hasResources">
			<a>
				<i-x-circle id="exit-btn" class="my-toolbar-btn" (click)="exit()" style="cursor:pointer;"></i-x-circle>
			</a>
	
	
		</div>
	
		<div class="toolbar-box" [ngStyle]="{'visibility': _hasGameArrived ? 'initial' : 'hidden'}">
			<i-play class="my-toolbar-btn my-media-btn" (click)="startSimulation()" style="cursor:pointer;" *ngIf="!_isPlaying"></i-play>
			<i-pause class="my-toolbar-btn my-media-btn" (click)="stopSimulation()" style="cursor:pointer;" *ngIf="_isPlaying"></i-pause>
			<i-fast-forward class="my-toolbar-btn my-media-btn" (click)="skipSimulationForward()" style="cursor:pointer;"></i-fast-forward>
			<i-rewind class="my-toolbar-btn my-media-btn" (click)="skipSimulationBack()" style="cursor:pointer;"></i-rewind>
			<i-skip-forward class="my-toolbar-btn my-media-btn" (click)="stepSimulationForward()" style="cursor:pointer;"></i-skip-forward>
			<i-skip-back class="my-toolbar-btn my-media-btn" (click)="stepSimulationBack()" style="cursor:pointer;"></i-skip-back>
		</div>
	
		<div class="toolbar-box" *ngIf="_hasResources">
			<a>
				<i-save id="download-btn"
						class="my-toolbar-btn my-media-btn"
						(click)="downloadGenerations()"
						style="cursor:pointer;"
						[ngStyle]="{'visibility': _hasGameArrived ? 'initial' : 'hidden'}"></i-save>
			</a>
	
			<a>
				<i-hash id="grid-btn"
						[ngClass]="{
							'my-toolbar-btn': true,
							'my-grid-not-active': !_gridMode
						}"
						(click)="flipGridMode()"
						style="cursor:pointer;"></i-hash>
			</a>
	
			<a>
				<i-droplet id="eraser-btn"
							[ngClass]="{
								'my-toolbar-btn': true,
								'my-eraser-active': _eraserMode
							}"
							(click)="flipEraserMode()"
							style="cursor:pointer;"></i-droplet>
			</a>
		</div>
	
	</div>
	
	
	<canvas id='play-grid' #playGrid (window:resize)="onResize($event)" [hidden]="!_hasResources"></canvas>

	<div id="who-sent-display">
		<div class="who-sent-dots" 
			*ngFor="let playerWhoSent of _playersWhoSent;" 
			[ngStyle]="{'background-color': _playerResources[playerWhoSent].color,
						'box-shadow': '0 0 10px 2px' + _playerResources[playerWhoSent].color}">
		</div>
	</div>
	
	
	<button id='send-to-server-btn'
			class="btn btn-outline-dark game-btn"
			(click)="sendConfig()"
			*ngIf="_hasResources && !_hasGameArrived"
			[disabled]="_hasSent">
			Send to Server
	</button>
	
	<button id='reset-match-btn'
			class="btn btn-outline-dark game-btn"
			(click)="resetMatch()"
			*ngIf="_hasResources && _hasGameArrived">
			Reset Match
	</button>
	
	<div id='score-board' *ngIf="_hasResources">
		<span class='score' *ngFor="let player of _playerResources;" [ngStyle]="{'color': player.color }">
			{{ player.wins }}
		</span>
	</div>
	
	
	
	
	
	<div mdbModal #side="mdb-modal" class="modal fade right" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-side modal-top-right" role="document">
			<div class="modal-content my-modal-content">

				<i-shield id="my-confirmation-sign" class="my-sign"></i-shield>
				
				<div class="modal-header my-modal-header">
					<p class="h3 text-center py-4 my-modal-header-content">Are you sure you want to exit the match?</p>
				</div>
	
				<div class="modal-body">
					<p class="h5 py-3 my-modal-header-content">
						Any progress you made will be lost!
					</p>
				</div>
		
				<div class="modal-footer my-modal-footer">
					<button type="button" 
							class="btn btn-outline-dark my-modal-btn"
							style="cursor:pointer;" 
							data-dismiss="modal" 
							(click)="side.hide()">
							Cancel
					</button>
					<button type="button" class="btn btn-outline-dark my-modal-btn" (click)="exitMatch()">Exit</button>
				</div>
		
			</div>
		</div>
	</div>
</div>

<div *ngIf="!_isMatchKeyValid">
	<video autoplay="true" loop muted="muted" preload="auto" id="my-video">
		<source src="assets/background.mp4" type="video/mp4">
	</video>

	<app-error [errorMessage]="_errorMessage"></app-error>
</div>
