/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';



/* General */

html {
    min-height: 100%;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    text-align: center;
    background-color: #fcfcfc;

    user-select: none;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

i {
    outline: none;
}



/* Menus */

.my-menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 
                0 2px 10px 0 rgba(0,0,0,.12);

    border-radius: 25px;
}

.my-menu-back-btn {
    position: absolute;
    top: 36px;
    left: 36px;
    outline: none;

    font-size: 25px;
    color: #ced4da;
}

.my-menu-back-btn:hover {
    color: black;
}

.my-menu-title {
    margin-bottom: 1rem;
}

.my-menu-content {
    text-align: initial;

    user-select: text;
    -webkit-user-select: text; /* webkit (safari, chrome) browsers */
    -moz-user-select: text; /* mozilla browsers */
    -khtml-user-select: text; /* webkit (konqueror) browsers */
    -ms-user-select: text; /* IE10+ */
}



/* Modals */

.my-modal-footer {
    justify-content: center !important;
}

.my-modal-header {
    justify-content: center !important;
}

.my-modal-btn {
    width: 7rem;
}

.my-modal-content {
    border-radius: 25px;
}



/* Forms */

.my-form-title {
    margin-bottom: 2rem;
}

.my-form-content {
    text-align: initial;
}

.my-form-elem { 
    margin-bottom: 40px;
}

.my-form-error-text {
    position: absolute;
    margin-bottom: 0px;
    color: red;
}

.my-invalid-form-input {
    border-color: red !important;
}

.my-invalid-form-input:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25) !important;
    box-shadow: 0 0 0 0.2rem  rgba(255, 0, 0, 0.25) !important;
}



/* Backgrounds */

#my-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}



/* Toolbars */

.toolbar {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
}

.toolbar-box {
    flex: 1;
    display: flex;
}

.toolbar-box:first-child { 
    justify-content: flex-start;
}

.toolbar-box:nth-child(2) {
    justify-content: center;
}

.toolbar-box:last-child { 
    justify-content: flex-end;
}

.my-toolbar-btn {
    font-size: 30px;

    margin-left: 5px;
    margin-right: 5px;

    color: #616161;
}