/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

html {
    min-height: 100%;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background-color: #fcfcfc;

    user-select: none;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}