#back-btn {
    position: absolute;
    top: 36px;
    left: 36px;
    outline: none;

    font-size: 25px;
    color: #ced4da;
}

#back-btn:hover {
    color: black;
}

.my-form-title {
    margin-bottom: 3rem;
}

#create-match-menu {
    min-width: 284px;
}

.my-form-content {
    text-align: initial;
}

.my-form-elem { 
    margin-bottom: 50px;
}

.my-inline-label { 
    margin-right: 10px;
}

#create-btn {
    margin-top: 25px;
}