<div id="create-match-menu" class="card col-9 col-sm-9 col-md-5 col-lg-4 p-3 my-form-container">

  <div class="card-body">

    <form>
      <a>
        <i id="back-btn" class="fas fa-chevron-left" style="cursor:pointer;" [routerLink]="['/menu/main']"></i>
      </a>
      
      <p class="h2 text-center py-4 my-form-title">Create Match</p>

      <div class="my-form-content">

        <div class="my-form-elem">
          <label class="h5 grey-text font-weight-light">Number of players</label>
          <select [(ngModel)]="_selectedNrPlayers"
                  name="NrPlayers"
                  class="form-control form-control-sm">
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>

        <div class="my-form-elem">
          <label class="h5 grey-text font-weight-light">Set of rules</label>
          <select [(ngModel)]="_selectedRuleSet"
                  name="RuleSet"
                  class="form-control form-control-sm">
            <option *ngFor="let r of _rulesets" [ngValue]="r">{{r}}</option>
          </select>
        </div>

        <div class="my-form-elem">
          <label class="h5 grey-text font-weight-light">Maximum number of iterations</label>
          <input [(ngModel)]="_maxIters"
                  name="MaxIters"
                  (ngModelChange)="onChangeNumericInput($event, 'MaxIters', 1, 10000)"
                  type="text" 
                  [ngClass]="{
                    'form-control' : true,
                    'invalid-input': _maxItersError > 0
                  }"
                  placeholder="1-10000">
          <label class="grey-text font-weight-light error-text" *ngIf="_maxItersError > 0">{{ _errors[_maxItersError] }}</label>
        </div>

        <div class="my-form-elem">
          <label class="h5 grey-text font-weight-light">Number of rows</label>
          <input [(ngModel)]="_rows"
                  name="Rows"
                  (ngModelChange)="onChangeNumericInput($event, 'Rows', 2, 50)"
                  type="text" 
                  [ngClass]="{
                    'form-control' : true,
                    'invalid-input': _rowsError > 0
                  }"
                  placeholder="2-50">
          <label class="grey-text font-weight-light error-text" *ngIf="_rowsError > 0">{{ _errors[_rowsError] }}</label>   
        </div>

        <div class="my-form-elem">
          <label class="h5 grey-text font-weight-light">Number of columns</label>
          <input [(ngModel)]="_cols"
                  name="Cols"
                  (ngModelChange)="onChangeNumericInput($event, 'Cols', 2, 50)"
                  type="text" 
                  [ngClass]="{
                    'form-control' : true,
                    'invalid-input': _colsError > 0
                  }"
                  placeholder="2-50">
          <label class="grey-text font-weight-light error-text" *ngIf="_colsError > 0">{{ _errors[_colsError] }}</label>        
        </div>

      </div>
      
      <button id="create-btn"
              type="button" 
              class="btn btn-outline-dark"
              [disabled]="!_isReadyToCreate"
              (click)="createMatch()">
              Create
      </button>
    </form>

  </div>

</div>