#back-btn {
    position: absolute;
    top: 36px;
    left: 36px;
    outline: none;

    font-size: 25px;
    color: #ced4da;
}

#back-btn:hover {
    color: black;
}

.my-form-title {
    margin-bottom: 2rem;
}

#create-match-menu {
    min-width: 284px;
}

.my-form-content {
    text-align: initial;
}

.my-form-elem { 
    margin-bottom: 40px;
}

.my-inline-label { 
    margin-right: 10px;
}

#create-btn {
    margin-top: 25px;
}

.invalid-input {
    border-color: red !important;
}

.invalid-input:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25) !important;
    box-shadow: 0 0 0 0.2rem  rgba(255, 0, 0, 0.25) !important;
}

.form-control:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(5, 200, 5, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(28, 211, 4, 0.25);

    border-color: #00b409;
}

.error-text {
    position: absolute;
    margin-bottom: 0px;
    color: red;
}

.my-modal-footer {
    justify-content: center !important;
}

.my-modal-header {
    justify-content: center !important;
}

.my-modal-url-display {
    display: flex;
    justify-content: center;
}

.my-url-display {
    max-width: 75%;
}

.my-modal-btn {
    width: 7rem;
}

.my-modal-content {
    border-radius: 25px;
}