<div class="all-screen">
  <!-- Card -->
  <div class="card w-25 p-3 my-form-container">

    <!-- Card body -->
    <div class="card-body">

        <!-- Default form subscription -->
        <form>
            <p class="h2 text-center py-4 my-form-title">Create Match</p>

            <div class="my-form-content">

              <div class="my-form-elem">
                <label class="grey-text font-weight-light">Number of players</label>
                <select class="form-control form-control-sm">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>

              <div class="my-form-elem">
                <label class="grey-text font-weight-light">Set of rules</label>
                <select class="form-control form-control-sm">
                  <option>GOF</option>
                </select>
              </div>

              <div class="my-form-elem">
                <label class="grey-text font-weight-light">Maximum number of iterations</label>
                <input type="text" class="form-control">
              </div>

              <div class="my-form-elem">
                <div class="form-row">
                  <!-- Grid column -->
                  <div class="col-md-6">
                      <!-- Material input -->
                      <label class="grey-text font-weight-light my-inline-label">Rows</label>
                      <input type="number" name="quantity" min="1" max="50">
                  </div>
                  <!-- Grid column -->
          
                  <!-- Grid column -->
                  <div class="col-md-6">
                      <!-- Material input -->
                      <label class="grey-text font-weight-light my-inline-label">Columns</label>
                      <input type="number" name="quantity" min="1" max="50">
                  </div>
                </div>
              </div>

              

            </div>
            
            <button id="send-btn" type="button" class="btn btn-outline-dark">Send</button>
        </form>
        <!-- Default form subscription -->

    </div>
    <!-- Card body -->

  </div>
  <!-- Card -->
</div>